                <!-- Post preview-->
                    <div class="post-preview">
                        <a href="{{url_for('post_detail', post_slug=post.slug)}}">
                            <h2 class="post-title">{{post.title}}</h2>
                            <h3 class="post-subtitle">{{post.body|truncate(80)}}</h3>
                        </a>
                        <p class="post-meta">
                            Posted by
                            <a href="#!">{{post.author}}</a>
                            {{post.date_created.strftime("%H:%M %d.%m.%Y")}}
                        </p>
                    </div>
                    <!-- Divider-->
                    <hr class="my-4" />